<div class="container">    
        <div class="row " *ngIf="!customerId && !categoryId">
            <div class="col-1"><div class="field">Lp</div></div>
            <div class = "col-2 d-none d-lg-block col-xl-1"><div class="field">Numer</div></div>
            <div [ngClass]="auth.isModerator()?'col-4 col-lg-2':'col-4 col-lg-2'" ><div class="field">Kontrahent</div></div>
            <div [ngClass]="auth.isModerator()?'col-2 d-none d-md-block col-xl-1':'col-2 d-none d-md-block'"><div class="field">Kategoria</div></div>            
            <div class="col-3 col-xl-2"><div class="field">Termin płatności</div></div>            
            <div class="col-1 d-none d-xl-block"><div class="field">Wartość</div></div>
            <div [ngClass]="auth.isModerator()? 'col-3 col-md-2 col-xl-1':'col-3 col-md-2'"><div class="field">Należność</div></div>
            <div class="col-1 d-none d-xl-block"><div  *ngIf="auth.isModerator()"></div></div>
            <div class="col-1 d-none d-xl-block"><div  *ngIf="auth.isModerator()"></div></div>
            <div class="col-1 d-none d-xl-block"><div  *ngIf="auth.isModerator()"></div></div>
        </div>
        <div class="row " *ngIf="customerId || categoryId">
            <div class="col-1"><div class="field">Lp</div></div>
            <div class = "col-2 d-none d-lg-block "><div class="field">Numer</div></div>
            <div class = "col-5 col-lg-3 " *ngIf="!customerId"><div class="field">Kontrahent</div></div>
            <div class = "col-5 col-lg-3 " *ngIf="!categoryId"><div class="field">Kategoria</div></div>
            <div class="col-3 col-lg-2"><div class="field">Termin płatności</div></div>
            <div class="col-2 d-none d-lg-block"><div class="field">Wartość</div></div>
            <div class="col-3 col-lg-2"><div class="field">Pozostało</div></div>
        </div>
        <app-invoice *ngFor="let invoice of invoices | slice: (page-1) * pageSize : page * pageSize; let i = index" 
			[invoice]="invoice" 
			[index]="(page-1) * pageSize + i+1" 
			[categoryId]="categoryId" 
			[customerId]="customerId" 
			[parentApi]="getInvoiceParentApi()">
        </app-invoice> 
        <div class="my-3"></div>        
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="invoices.length" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"> </ngb-pagination>
</div>
