<div >
	<div class="modal-header">
		<div class="title">Zmiana hasła</div>
		<button type="button" class="btn-close" aria-label="Close" style="box-shadow: none !important" (click)="activeModal.dismiss()"></button>
	</div>
	<div class="modal-body">
				<form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                    <div class = "row mt-2">
						<label class ="col-5"><div class ="label">Obecne hasło</div></label>
						<input
							class ="col-5"
							type="password"                                     
							formControlName="currentPassword"
							name="currentPassword"           
						/>
						<span class="text-danger" *ngIf="(passwordFormControl['currentPassword'].touched || submitted) && passwordFormControl['currentPassword'].errors?.['invalid'] "> Hasło jest polem obowiązkowym</span>
					</div>		
                    <div class = "row mt-2">
						<label class ="col-5"><div class ="label">Nowe hasło</div></label>
						<input
							class ="col-5"
							type="password"                                     
							formControlName="newPassword"
							name="newPassword"           
						/>
						<span class="text-danger" *ngIf="(passwordFormControl['newPassword'].touched || submitted) && passwordFormControl['newPassword'].errors?.['invalid'] "> Hasło jest polem obowiązkowym</span>
						<span class="text-danger" *ngIf="(passwordFormControl['newPassword'].touched || submitted) && passwordFormControl['newPassword'].errors?.['incorrect'] "> Hasło musi zawierać małą i dużą literę, cyfrę oraz znak specjalny. Długość od 5 do 40 znaków.</span>
					</div>		
                    <div class = "row my-2">
						<label class ="col-5"><div class ="label">Powtórz nowe hasło</div></label>
						<input
							class ="col-5"
							type="password"                                     
							formControlName="reNewPassword"
							name="reNewPassword"           
						/>
						<span class="text-danger" *ngIf="(passwordFormControl['reNewPassword'].touched || submitted) && passwordFormControl['reNewPassword'].errors?.['invalid'] "> Hasło jest polem obowiązkowym</span>
						<span class="text-danger" *ngIf="(passwordFormControl['reNewPassword'].touched || submitted) && passwordFormControl['reNewPassword'].errors?.['incorrect'] "> Hasło musi zawierać małą i dużą literę, cyfrę oraz znak specjalny. Długość od 5 do 40 znaków.</span>
						<span class="text-danger" *ngIf="(passwordForm.errors?.['difference'])">Hasła się nie zgadzają</span>
					</div>	                					     
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary float-end mt-3" style="box-shadow: none !important" [disabled]="submittedButton">
						<span *ngIf="!submittedButton">Zapisz</span><span *ngIf="submittedButton"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;Czekaj</span>	
					</button>
                </div>				
            
        </form>
        
</div>        
