<div class="container ">
    
    <form  class="position-relative w-50" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="row w-50 mx-auto">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="username">
            <span class="text-danger" *ngIf="(loginFormControl['username'].touched || submitted) && loginFormControl['username'].errors?.['required'] ">
                Email jest polem obowiązkowym
            </span>
        </div>
        <div class="row w-50 mx-auto">
            <label>Hasło</label>
            <input type="password" class="form-control" formControlName="password">            
            <span class="text-danger" *ngIf="(loginFormControl['password'].touched || submitted) && loginFormControl['password'].errors?.['required'] ">
                Hasło jest polem obowiązkowym
            </span>
        </div>
        <button type="button" style="box-shadow: none !important" class="btn btn-primary position-absolute end-50 mt-3" (click)="reset()" [disabled]="submittedButton">
            <span *ngIf="!submittedButton">Resetuj hasło</span><span *ngIf="submittedButton"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;Czekaj</span>        
        </button>
        <button type="submit" style="box-shadow: none !important" class="btn btn-primary position-absolute end-0 mt-3" [disabled]="submittedButton">
            <span *ngIf="!submittedButton">Zaloguj</span><span *ngIf="submittedButton"><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>&nbsp;Czekaj</span>    
        </button>
    </form>

</div>    
